/* Links */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    /* Font family */
    --PRIMARY-FONT: 'Manrope', sans-serif;

    /* Font weight */
    --WEIGHT-1: 800;

    /* Primary colors */
    --LIGHT-CYAN: hsl(193, 38%, 86%);
    --NEON-GREEN: hsl(150, 100%, 66%);

    /* Neutral colors */
    --GRAYISH-BLUE: hsl(217, 19%, 38%);
    --DARKGRAYISH-BLUE: hsl(217, 19%, 24%);
    --DARK-BLUE: hsl(218, 23%, 16%);

    /* Font size */
    --PARAH-SIZE: 28px;
}

/* Utils */

/* General styles */
html,
body {
    scroll-behavior: smooth;
    overflow: hidden;
}